<ul class="menu">
    <li>
        <a href="{{ '/' }}">
            Главная
        </a>
    </li>
    <li>
        <a href="{{ 'create-course' }}">
            Создание курса
        </a>
    </li>
    <li>
        <a href="{{ 'create-category' }}">
            Создание категории
        </a>
    </li>
    <li>
        <a href="{{ 'category-list' }}">
            Список категорий
        </a>
    </li>
    <li>
        <a href="{{ 'users_list' }}">
            Список пользователей
        </a>
    </li>
    <li>
        <a href="{{ 'create-user' }}">
            Создание пользвотеля
        </a>
    </li>
</ul>